# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
###vignettes/*.R #TODO NJF probably shouldn't be here
vignettes/.*
.Rproj.user
tests/testthat/*.pdf
.DS_Store
inst/doc
*.tar.gz
